parameters:
	level: 8

	paths:
		- src

	ignoreErrors:
		- # trait is used via `use` in user code, not directly analysed
			message: '#^Trait Nette\\ComponentModel\\ArrayAccess is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/ComponentModel/ArrayAccess.php

		- # complex tuple type of $monitors is hard to express precisely for all mutation paths
			message: '#^Property Nette\\ComponentModel\\Component\:\:\$monitors .+ does not accept .+\.$#'
			identifier: assign.propertyType
			count: 4
			path: src/ComponentModel/Component.php

		- # IContainer::getComponent() has optional $throw parameter in implementation
			message: '#^Method Nette\\ComponentModel\\IContainer\:\:getComponent\(\) invoked with 2 parameters, 1 required\.$#'
			identifier: arguments.count
			count: 1
			path: src/ComponentModel/Container.php
